$primary-color: #242424;

.section {
    background: #fff;
    width: 80%;
    min-width: 1200px;
    margin: 10%;
    margin-top: 68px;
    margin-bottom: 68px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    &__edit {
        color: $primary-color;
        width: 60%;
    }
    &__result {
        color: $primary-color;
        width: 40%;
        height: 100%;
        //border-left: 1px solid #242424;
        padding-left: 5px;
        box-sizing: border-box;
        padding-top: 10px;
        position: sticky;
        top: 0;
    }
    &__resulttitle {
        font-weight: 600;
    }
    &__rowitem {
        width: 100%;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(192, 192, 192);
        .section__rowitem {
            width: 100%;
            box-sizing: border-box;
            padding-left: 15px;
            border-bottom: 1px solid rgb(217, 217, 217);
        }
    }
    &__rowtitle {
        color: $primary-color;
        font-size: 16px;
        min-width: 120px;
        
    }
    &__rowlist {
        height: 0%;
    }
    &__rowlistitem {
        width: 200px;
        min-height: 40px;
        padding: 3px;
        padding-left: 10px;
        cursor: pointer;
        &:hover {
            background-color: #f0f0f0;
        }
    }
}